<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="author" content="AlienHu Private Limited" />
  <meta name="google-site-verification" content="2C_0CBpEUvAkk5UUV36kM-KFXx7VDj4kYvARxkIBH1s" />
  <meta name="google-site-verification" content="SZSKGgh5bG9RTo4H_YnVqqyfgJeKgapVcTb5bzL3xgY" />
  <meta name="description" content="ProfitGuru POS &amp; ERP Solutions to Simplify your Retail Business. GST Enabled &amp; Easy-to-use. Book today only.">
  <meta name="keywords" content="ProfitGuru, POS, ERP, GST, retail POS, Restuarant POS, Saloon POS, CRM POS, Point of sale, AlienHu, Business Solutions, Business Software, Simple solution for POS, User-friendly POS">
  <meta property="og:title" content="ProfitGuru POS &amp; ERP Solutions for your Business">
  <meta property="og:image" content="/images/favicon.png">
  <meta property="og:description" content="POS was never so easy to get started with. ProfitGuru POS &amp; ERP Solutions to Simplify your Retail Business. GST Enabled &amp; User-friendly. Book today only">
  <link rel="icon" href="images/favicon.png" type="image/png" sizes="any">
  <title>AlienHu ProfitGuru</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- attach CSS styles -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/animations.css" rel="stylesheet">
  <link href="css/websiteStyle.css" rel="stylesheet" />
  <link href="css/messenger.css" rel="stylesheet" />
  <!-- include the style -->
  <link rel="stylesheet" href="alertifyjs/css/alertify.css" />
  <link rel="stylesheet" href="alertifyjs/css/themes/default.css" />
  <link type="text/css" rel="stylesheet" href="css/lightslider.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis|Kaushan+Script|Open+Sans|Quicksand|Roboto" rel="stylesheet">
</head>

<body id="body" style="background-color:floralwhite">
  <!-- 08 July, 17 -->
  <div id="loader">
    <center></center>
  </div>
  <style>
    #loader {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 9999;
      background-color: #ECF0F1;
    }

    #loader center {
      margin: auto;
      position: relative;
      margin-top: 40vh;
      vertical-align: top;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #002451;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      z-index: 9999;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .white {
      color: #fff
    }
	
	
	  

       ::-webkit-scrollbar {
                              display: none;
                          }
	
  </style>
  <!-- navigation panel -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand-name" href="/">
          <img class="logo" src="images/test2.svg">
          <!--span class="logo">&nbsp;<b>A</b>lien<b>H</b>u</span-->
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="#slider" class="header-menu">Home</a></li>-->
          <li>
            <a href="/#slider" class="header-menu">Products</a>
          </li>
          <li>
            <a href="website.html" class="header-menu">Website Showcase</a>
          </li>
          <li>
            <a href="/#pricing" class="header-menu">Pricing</a>
          </li>
          <li>
            <a href="/#services" class="header-menu">Services</a>
          </li>
          <li>
            <a href="contact.html" class="header-menu">Contact</a>
          </li>
          <li>
            <a href="http://alienhu.com:2020/blog/" class="header-menu">Blog</a>
          </li>
          <!--<li class="try-free-nav"><a href="/trilPG">Try ProfitGuruPos fo Free</a></li>-->
          <li class="try-free-nav header-menu">
            <a onclick="demoPopUpHandler()">Try Demo</a>
          </li>
          <li class="download header-menu">
            <a onclick="showDownload()">Download</a>
          </li>
          <li>
            <a href="hardware.html" class="header-menu">Hardware</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <br>
  <br>
  <!-- first section - Home -->
  <div id="anime" class="container hidden-sm hidden-md hidden-lg">
   <!-- class hidden-xs -->
     </div>
  </div>
  <!--<div id="anime2" class="container">
  </div>-->
  <div class="container">
    <!-- /fourth section -->
    <div id="whatsappbot" style="display: inline-block!important;position: fixed;bottom: 15px;left: 15px;z-index: 1500; background-color: #fff; padding-right: 10px;">
      <img src="images/Whatsapp.png" style=" width:55px;">
      <a href="https://wa.me/919148325949">+91 91483 25949</a>
    </div>
    <div id="chatbot">
      <div id="bot-open">
        <img src="images/chat-green-new.svg" onerror="this.src='images/chat-red.png'">
      </div>
      <div id="messenger" class="animated">

        <div class="head">
          <span>ProfitGuru Bot</span>
          <a class="tel" href="tel:+918284230957">
            <img src="images/phone.svg">
          </a>
          <a class="mail" href="/cdn-cgi/l/email-protection#b5d4d1d8dcdbf5d4d9dcd0dbddc09bd6dad8">
            <img src="images/mail.svg">
          </a>
          <a class="closex">
            <img src="images/close-red.svg">
          </a>
        </div>
        <div class="box">
          <div class="bot">
            <span class="msg">Hi, how can I help you?</span>
          </div>
        </div>
        <div class="input">
          <input type="text" id="guest-input" placeholder="Enter your message" required>
          <img id="msg-send" src="images/send.svg">
        </div>
      </div>
    </div>
    <!-- /fifth section -->
    <!-- attach JavaScripts -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script type="text/javascript " src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="js/main.js "></script>
    <script src="alertifyjs/alertify.min.js"></script>
    <div id="offer">
      <img src="images/sale.png">
      <i class="glyphicon glyphicon-remove"></i>
      <h3>FREE POS
        <br> for Computer Shops</h3>
      <button onclick="bookPack('computer')">Book now</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js" integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY="
      crossorigin="anonymous"></script>
    <script>
      var timeline = anime.timeline({
        easing: 'easeOutExpo'
      })

      function translate(key, animation) {
        var obj = {};
        if (key != null)
          obj.targets = '#' + key
        //calculate XPosition 
        if (animation.XPosition != null)
          obj.translateX = function (el) {
         var width = $(window).width();
            var containerWidth = document.getElementById("intern").offsetWidth;
            if(animation.needSub){
              width = (containerWidth * parseInt(animation.XPosition) / 100) - (animation.imageSize / 2);
              return width;
            }else{
              return width * parseInt(animation.XPosition) / 100
            }
            
    
          
          }
        //calculate YPosition
        if (animation.YPosition != null)
          obj.translateY = function (el) {
            var height = $(window).height();
            return height * parseInt(animation.YPosition) / 100

          }
        //calculate Scale
        if (animation.scale != null)
          obj.scale = parseFloat(animation.scale)
        if (animation.display != null)
          if (animation.display == true)
            obj.begin = function (el) {
              $('#' + key).show();
            }
        else if (animation.display == false)
          obj.begin = function (el) {
            $('#' + key).hide();
          }
        if (animation.duration != null)
          obj.duration = parseInt(animation.duration)
        if (animation.offset != null)
          obj.offset = parseInt(animation.offset)
        if (animation.zIndex != null)
          obj.zIndex = parseInt(animation.zIndex)
        obj.complete = function (el) {
          console.log(key, "->", obj);
        }
        timeline.add(obj)
      }
      $.getJSON("./data/internmobile1.json", function (data) {
        var desktop = data.desktop
        $.each(desktop, function (pageKey, page) {
          //create page
          $('#anime').append('<div id="' + pageKey + '"></div>')
          //$('#anime2').append('<div id="' + pageKey + '"></div>')
          //loop page animations
          $.each(page.animation, function (key, animation) {
            translate(pageKey, animation);
          })
          //loop image animations
          

          $.each(page.images, function (Key, image) {
            $("#" + pageKey).append('<div id="' + image.targetName +
              '" style="display: none;position: absolute;"><img src="' +
              image.imageURL + '" class="img-responsive"></div>');
            $.each(image.animation, function (key, animation) {
              translate(image.targetName, animation);
            })
          })
          //loop message animations 
          $.each(page.messages, function (Key, message) {
            $("#" + pageKey).append('<h1 id="' + message.targetName +
              '">' + message.text +
              '</h1>');
            $.each(message.animation, function (key, animation) {
              translate(message.targetName, animation);
            })
          })
        })

       /* var mobile = data.mobile
        $.each(mobile, function (pageKey, page) {
          //create page
          
          $('#anime2').append('<div id="' + pageKey + '"></div>')
          //loop page animations
          $.each(page.animation, function (key, animation) {
            translate(pageKey, animation);
          })
          //loop image animations
          $.each(page.images, function (Key, image) {
            $("#" + pageKey).append('<div id="' + image.targetName +
              '" style="display: none;position: absolute;"><img src="' +
              image.imageURL + '" class="img-responsive"></div>');
            $.each(image.animation, function (key, animation) {
              translate(image.targetName, animation);
            })
          })
          //loop message animations 
          $.each(page.messages, function (Key, message) {
            $("#" + pageKey).append('<p id="' + message.targetName +
              '" class="text-center">' + message.text +
              '</p>');
            $.each(message.animation, function (key, animation) {
              translate(message.targetName, animation);
            })
          })
        })*/

      })
    </script>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-101688117-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>