<h2>
Returns and Refund Policy</h2>
<br>

<h2>Returns</h2>

Our policy lasts 10 days. If 10 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.


To complete your return, we require a receipt or proof of purchase.

There are certain situations where only partial refunds are granted.




<h2>Refunds (if applicable)</h2>


If you are approved by the retails , then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.


<h3>Late or missing refunds (if applicable):</h3>

If you haven’t received a refund yet, first check your bank account again.

Then contact your credit card company, it may take some time before your refund is officially posted.

Next contact your bank. There is often some processing time before a refund is posted.

If you’ve done all of this and you still have not received your refund yet, please contact us at <link>payments@alienhu.com.</link>